/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
body {
  font-size: 16px; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #1c1c1c; }
.container::after,
.row::after,
u-cf {
	content: '';
	display: table;
	clear: both;
}
/* Larger than mobile */
@media (min-width: 400px) {
body {
	font-size: 1.05em;
}
}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
body {
	font-size: 1.15em;
}

}

/* Larger than tablet */
@media (min-width: 750px) {
body {
	font-size: 1.25em;
}
}