@font-face {
font-family: "TWD";
src: url("fonts/FuturaStd-Bold.otf") format("opentype");
font-weight: 700;
}
@font-face {
font-family: "TWD";
src: url("fonts/FuturaStd-BoldOblique.otf") format("opentype");
font-weight: 900;
}

*, *::after, *::before {
transition: all 0.3s ease-in-out;
}
body {
width: 100%;
min-height: 100vh;
background: #fff;
font-family: "Muli", sans-serif;
position: relative;
-webkit-tap-highlight-color: transparent;
}
a {
text-decoration: none;
color: #2c2020;
}

.nav {
position: fixed;
z-index: 3;
right: 0;
top: 0;
min-height: 100vh;
width: 16rem;
display: flex;
background: #fff;
justify-content: flex-end;
transform: translateX(16rem);
}
.nav-menu{
padding: 2rem;
padding-top: 4rem;
list-style-type: none;
width: 100%;
}
.nav-link, .dropdown-link, .social-link {
margin: 0.5rem 0;
display: block;
padding: 0.75rem 1rem 0.75rem 2rem;
border-radius: 3rem;
box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.15);
}
a.subscribe {
background: linear-gradient(to right bottom, #c21500, #ff0000);
box-shadow: 0.25rem 0.25rem 0.75rem rgba(255,0,0,0.25);
color: #fff;
font-weight: 700;
}
.social-link span:before {
color: #2c2020;
background: transparent !important;
}
.nav-link:hover, .dropdown-link:hover, .social-link:hover, .social-link:hover span:before {
color: #fff;
background: #2c2020;
box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25);
}
.dropdown-menu {
margin: 0;
padding: 0;
margin-top: -0.5rem;
margin-left: 1rem;
list-style-type: none;
height: 0;
overflow: hidden;
}
a.social-link {
padding: 1rem;
}
.social {
display: flex;
justify-content: space-between;
}

.nav-toggle {
position: fixed;
display: block;
width: 28px;
height: 6px;
top: 2rem;
right: 2rem;
background: #2c2020;
border-radius: 3px;
z-index: 4;
}
.nav-toggle::before {
content: '';
position: absolute;
width: 48px;
height: 48px;
top: -22px;
left: -12px;
border-radius: 48px;
box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0);
}
.nav-toggle::after {
content: '';
position: absolute;
display: block;
width: 18px;
height: 6px;
top: 12px;
right: 0;
background: #2c2020;
border-radius: 2rem;
}

@media (max-width: 750px) {
.dropdown-menu.isOpen {
height: 8em;
padding: 0 1rem;
margin: 0;
}
.nav-toggle.isOpen {
transform: translateX(-13rem) rotate(45deg);
top: calc(2rem + 6px);
background: #c21500;
height: 4px;
width: 24px;
}
.nav-toggle.isOpen::after {
transform: rotate(-90deg);
top: 0px;
width: 24px;
height: 4px;
background: #ff0000;
}
.nav-toggle.isOpen::before {
box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.15);
}
.nav.isOpen {
transform: translateX(0);
}
.wrapper.isOpen {
transform: translateX(-16rem) scale(0.75);
border-radius: 3rem;
box-shadow: 0 1rem 3rem rgba(0,0,0,0.15);
overflow: hidden;
}
}

@media (min-width: 750px) {
.nav {
left: 50%;
min-height: auto;
width: 100%;
max-width: 960px;
transform: translateX(-50%);
background: none;
}
.nav-menu{
padding: 0;
padding-top: 0.5rem;
list-style-type: none;
width: 100%;
display: flex;
justify-content: flex-end;
}
.mobile-only {
display: none;
}
.nav-link, .dropdown-link, .social-link {
margin: 0 0.5rem;
background: #fff;
padding: 0.5rem 1rem;
}
.subscribe {
background: linear-gradient(to right bottom, #c21500, #ff0000);
box-shadow: 0.25rem 0.25rem 0.75rem rgba(255,0,0,0.25);
}
.dropdown-link {
margin: 0;
box-shadow: 0 1px rgba(0,0,0,0.15);
border-radius: 0;
}
.dropdown-toggle {
position: relative;
}
.dropdown-menu {
position: absolute;
margin: 1rem;
padding: 0;
list-style-type: none;
height: auto;
top: 100%;
height: 0;
overflow: hidden;
background: #fff;
border-radius: 1rem;
box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.15);
opacity: 0;
transform: translateY(-1rem);
}
.dropdown-menu.isOpen {
height: auto;
opacity: 1;
transform: translateY(0);
}
}


section .container {
max-width: 960px;
margin: 0 auto;
}
.hero {
display: flex;
flex-flow: column nowrap;
align-items: center;
justify-content: center;
min-height: calc(100vh - 4rem);
margin: 2rem;
position: relative;
}
.hero::before {
position: absolute;
content: '';
width: 3rem;
height: 50vh;
border-radius: 0 0 3rem 0;
left: -2rem;
top: -2rem;
background: linear-gradient(to right bottom, #c21500, #ff0000);
box-shadow: 0.25rem 0.25rem 0.75rem rgba(255,0,0,0.25);
z-index: -1;
}
.logo {
width: 75%;
max-width: 200px;
filter: drop-shadow(0.25rem 0.25rem 0.75rem rgba(0,0,0,0.25));
}
.title {
font-size: 3.5em;
font-weight: 900;
font-style: italic;
font-family: "TWD";
position: relative;
margin: 0;
padding: 0;
padding-top: 0.5rem;
line-height: 1.25;
}
.title i {
position: absolute;
font-size: 0.33em;
left: 50%;
top: 0;
transform: translateX(-50%);
}
.description {
margin: 0;
font-size: calc(3.5em * 0.33em);
text-align: center;
font-style: italic;
}
.cta {
margin: 2rem 1rem;
width: calc(100% - 2rem);
}
.btn {
padding: 0.66rem 1rem;
display: block;
text-align: center;
font-size: 1.2em;
border-radius: 3rem;
margin-bottom: 0.5rem;
}
.btn-primary {
color: #fff;
background: #2c2020;
}
.btn-secondary {
color: #2c2020;
background: transparent;
box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.15);
}
.btn:hover {
transform: translateY(-3px);
box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25);
}
.subscribe.btn:hover {
transform: translateY(-3px);
box-shadow: 0 0.25rem 1rem rgba(255,0,0,0.5);
}
.btn:focus {
transform: translateY(-1px);
box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}
.subscribe.btn:focus {
transform: translateY(-1px);
box-shadow: 0 0.25rem 0.5rem rgba(255,0,0,0.5);
}

@media (min-width: 450px) {
.cta {
width: auto;
}
.btn {
display: inline-block;
padding: 0.75rem 1.5rem;
margin: 0 0.25rem;
font-size: 1em;
}
.btn.subscribe {
padding: 0.75rem 2rem;
}
}


form.contact {
padding: 2rem;
}
.input-group {
position: relative;
margin-top: 0.5rem;
}
.input-group .error {
position: absolute;
right: 1rem;
top: 1rem;
font-size: 1.5em;
border-radius: 50%;
background: #fff;
color: #c21500;
box-shadow: 0 0 0.5rem rgba(255,0,0,0.25);
opacity: 0;
}
label {
position: absolute;
left: 1.5rem;
top: 0.85rem;
font-size: 1.15em;
font-weight: 500;
}
label.active {
top: -0.75rem;
left: 0;
padding: 0 0.5rem;
font-size: 1rem;
color: #c21500;
}
input[type="text"], input[type="email"], textarea {
width: 100%;
border: none;
box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.15);
padding: 1.34rem 1rem 0.66rem 1rem;
border-radius: 3rem;
resize: none;
font-size: 1.15em;
background: transparent;
}
textarea {
border-radius: 1.5rem;
height: 8em;
padding: 0;
border-top: 1.34rem solid transparent;
border-right:  1rem solid transparent;
border-bottom:  0.66rem solid transparent;
border-left:  1rem solid transparent;
}
input:hover, textarea:hover {
box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.25);
}
input.active, textarea.active {
outline: none;
border-radius: 0;
box-shadow: 0 1rem 1.75rem -1rem rgba(255,0,0,0.25);
}
input[type="submit"] {
padding: 1rem;
width: 100%;
border: none;
border-radius: 3rem;
font-size: 1.15em;
background: #cdcdcd;
box-shadow: 0.25rem 0.25rem 0.75rem rgba(0,0,0,0.15);
color: #fff;
font-weight: 700;
outline: none;
}
input[type="submit"].valid {
background: #c21500;
box-shadow: 0.25rem 0.25rem 0.75rem rgba(255,0,0,0.25);
}
input[type="submit"].valid:hover {
box-shadow: 0 0.25rem 1rem rgba(255,0,0,0.25);
}